[View in Colaboratory](https://colab.research.google.com/github/brainfrozeno00o/Theshit/blob/master/LinearRegressionTest.ipynb)

In [0]:
!pip install -U -q PyDrive

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

downloaded = drive.CreateFile({'id':'1vzkBh-H_Iqltv3--Db_hO4IS1E2ZwCMx'}) #file must be open for sharing in public though
downloaded.GetContentFile('OneYearData.csv')

In [0]:
%matplotlib inline

import matplotlib.pylab as plt
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('OneYearData.csv')
df.head() #only print first 5

,TEAM NAME,FGs Made,FGs Attempted,FG %,3Ps Made,3Ps Attempted,3Ps %,FTs Made,FTs Attempted,FT%,...,League Assists,League Field Goals Made,League Freethrows Made,League Freethrow Attempts,League Personal Fouls,League Fieldgoal Attempts,League Offensive Rebounds,League Total Rebounds,League Turnovers,League Points
0,Houston Rockets (Games 1-4),38,85,44.40%,12,43,27.60%,19,23,79.30%,...,646.0,1170.0,549.0,716.0,650.0,2578.0,310.0,1339.0,460.0,3177.0
1,Houston Rockets (Games 5-8),34,80,42.60%,15,45,33.40%,19,24,81.70%,...,681.0,1165.0,495.0,647.0,615.0,2575.0,297.0,1330.0,450.0,3150.0
2,Houston Rockets (Games 9-12),42,84,50.00%,19,46,41.10%,21,25,81.30%,...,673.0,1167.0,531.0,696.0,638.0,2550.0,283.0,1278.0,451.0,3166.0
3,Houston Rockets (Games 13-16),39,86,46.00%,17,44,37.60%,27,31,84.00%,...,663.0,1148.0,508.0,657.0,600.0,2541.0,294.0,1310.0,433.0,3121.0
4,Houston Rockets (Games 17-20),41,85,48.10%,19,45,41.00%,16,22,74.30%,...,706.0,1197.0,475.0,624.0,589.0,2576.0,290.0,1310.0,423.0,3186.0

In [4]:
df.shape #print how many columns and rows

(660, 35)

In [5]:
df.dtypes #check types per column

TEAM NAME                     object
FGs Made                       int64
FGs Attempted                  int64
FG %                          object
3Ps Made                       int64
3Ps Attempted                  int64
3Ps %                         object
FTs Made                       int64
FTs Attempted                  int64
FT%                           object
Offensive Rebounds             int64
Defensive Rebounds             int64
Total Rebounds                 int64
Assists                        int64
Steals                         int64
Blocks                         int64
Turnovers                      int64
Personal Fouls                 int64
Average Points                 int64
Attendees                      int64
TEAM EFFICIENCY              float64
Factor                       float64
VOP                          float64
DRB%                         float64
Instance                     float64
League Assists               float64
League Field Goals Made      float64
League Freethrows Made       float64
League Freethrow Attempts    float64
League Personal Fouls        float64
League Fieldgoal Attempts    float64
League Offensive Rebounds    float64
League Total Rebounds        float64
League Turnovers             float64
League Points                float64
dtype: object

In [0]:
#remove '%' in percentages
df["FG %"] = df["FG %"].str.rstrip('%')
df["3Ps %"] = df["3Ps %"].str.rstrip('%')
df["FT%"] = df["FT%"].str.rstrip('%')

In [0]:
#change object types to numeric
df["FG %"] = pd.to_numeric(df["FG %"], downcast='float', errors='coerce')
df["3Ps %"] = pd.to_numeric(df["3Ps %"], downcast='float', errors='coerce')
df["FT%"] = pd.to_numeric(df["FT%"], downcast='float', errors='coerce')
df["Attendees"] = pd.to_numeric(df["Attendees"], downcast='integer', errors='coerce')

In [0]:
from sklearn.linear_model import LinearRegression

#for Houston
X_Houston = df.iloc[1:23, 1:20]
y_Houston = df.iloc[1:23, 20]

#for Golden State
X_GoldenState = df.iloc[23:45, 1:20]
y_GoldenState = df.iloc[23:45, 20]

#for Portland
X_Portland = df.iloc[45:67, 1:20]
y_Portland = df.iloc[45:67, 20]

#for Oklahoma City
X_OklahomaCity = df.iloc[67:89, 1:20]
y_OklahomaCity = df.iloc[67:89, 20]

#for Utah
X_Utah = df.iloc[89:111, 1:20]
y_Utah = df.iloc[89:111, 20]

#for New Orleans
X_NewOrleans = df.iloc[111:133, 1:20]
y_NewOrleans = df.iloc[111:133, 20]

#for San Antonio
X_SanAntonio = df.iloc[133:155, 1:20]
y_SanAntonio = df.iloc[133:155, 20]

#for Minnesota
X_Minnesota = df.iloc[155:177, 1:20]
y_Minnesota = df.iloc[155:177, 20]

#for Denver
X_Denver = df.iloc[177:199, 1:20]
y_Denver = df.iloc[177:199, 20]

#for Los Angeles Clippers
X_LosAngelesClippers = df.iloc[199:221, 1:20]
y_LosAngelesClippers = df.iloc[199:221, 20]

#for Toronto
X_Toronto = df.iloc[221:243, 1:20]
y_Toronto = df.iloc[221:243, 20]

#for Boston
X_Boston = df.iloc[243:265, 1:20]
y_Boston = df.iloc[243:265, 20]

#for Philadelphia 
X_Philadelphia = df.iloc[265:287, 1:20]
y_Philadelphia = df.iloc[265:287, 20]

#for Cleveland
X_Cleveland = df.iloc[287:309, 1:20]
y_Cleveland = df.iloc[287:309, 20]

#for Indiana
X_Indiana = df.iloc[309:331, 1:20]
y_Indiana = df.iloc[309:331, 20]

#for Los Angeles Lakers
X_LosAngelesLakers = df.iloc[331:353, 1:20]
y_LosAngelesLakers = df.iloc[331:353, 20]

#for Sacramento
X_Sacramento = df.iloc[353:375, 1:20]
y_Sacramento = df.iloc[353:375, 20]

#for Dallas
X_Dallas = df.iloc[375:397, 1:20]
y_Dallas = df.iloc[375:397, 20]

#for Memphis
X_Memphis = df.iloc[397:419, 1:20]
y_Memphis = df.iloc[397:419, 20]

#for Phoenix
X_Phoenix = df.iloc[419:441, 1:20]
y_Phoenix = df.iloc[419:441, 20]

#for Miami
X_Miami = df.iloc[441:463, 1:20]
y_Miami = df.iloc[441:463, 20]

#for Milwaukee
X_Milwaukee = df.iloc[463:485, 1:20]
y_Milwaukee = df.iloc[463:485, 20]

#for Washington
X_Washington = df.iloc[485:507, 1:20]
y_Washington = df.iloc[485:507, 20]

#for Detroit
X_Detroit = df.iloc[507:529, 1:20]
y_Detroit = df.iloc[507:529, 20]

#for Charlotte
X_Charlotte = df.iloc[529:551, 1:20]
y_Charlotte = df.iloc[529:551, 20]

#for New York
X_NewYork = df.iloc[551:573, 1:20]
y_NewYork = df.iloc[551:573, 20]

#for Brooklyn
X_Brooklyn = df.iloc[573:595, 1:20]
y_Brooklyn = df.iloc[573:595, 20]

#for Chicago
X_Chicago = df.iloc[595:617, 1:20]
y_Chicago = df.iloc[595:617, 20]

#for Orlando
X_Orlando = df.iloc[617:639, 1:20]
y_Orlando = df.iloc[617:639, 20]

#for Atlanta
X_Atlanta = df.iloc[639:661, 1:20]
y_Atlanta = df.iloc[639:661, 20]

In [0]:
#from sklearn.model_selection import train_test_split

#80% will be for training, 20% will be for testing, original plan
#X_train_Houston, X_test_Houston, y_train_Houston, y_test_Houston = train_test_split(X_Houston, y_Houston, test_size=0.2, random_state=0)

#setting training and testing data based on instances
#4-game period instances are part of the training dataset
#3-game period instances are part of the testing dataset

#for Houston
X_train_Houston = X_Houston[:16]
X_test_Houston = X_Houston[16:22]
y_train_Houston = y_Houston[:16]
y_test_Houston = y_Houston[16:22]

#for Golden State
X_train_GoldenState = X_GoldenState[:16]
X_test_GoldenState = X_GoldenState[16:22]
y_train_GoldenState = y_GoldenState[:16]
y_test_GoldenState = y_GoldenState[16:22]

#for Portland
X_train_Portland = X_Portland[:16]
X_test_Portland = X_Portland[16:22]
y_train_Portland = y_Portland[:16]
y_test_Portland = y_Portland[16:22]

#for Oklahoma City
X_train_OklahomaCity = X_OklahomaCity[:16]
X_test_OklahomaCity = X_OklahomaCity[16:22]
y_train_OklahomaCity = y_OklahomaCity[:16]
y_test_OklahomaCity = y_OklahomaCity[16:22]

#for Utah
X_train_Utah = X_Utah[:16]
X_test_Utah = X_Utah[16:22]
y_train_Utah = y_Utah[:16]
y_test_Utah = y_Utah[16:22]

#for New Orleans
X_train_NewOrleans = X_NewOrleans[:16]
X_test_NewOrleans = X_NewOrleans[16:22]
y_train_NewOrleans = y_NewOrleans[:16]
y_test_NewOrleans = y_NewOrleans[16:22]

#for San Antonio
X_train_SanAntonio = X_SanAntonio[:16]
X_test_SanAntonio = X_SanAntonio[16:22]
y_train_SanAntonio = y_SanAntonio[:16]
y_test_SanAntonio = y_SanAntonio[16:22]

#for Minnesota
X_train_Minnesota = X_Minnesota[:16]
X_test_Minnesota = X_Minnesota[16:22]
y_train_Minnesota = y_Minnesota[:16]
y_test_Minnesota = y_Minnesota[16:22]

#for Denver
X_train_Denver = X_Denver[:16]
X_test_Denver = X_Denver[16:22]
y_train_Denver = y_Denver[:16]
y_test_Denver = y_Denver[16:22]

#for Los Angeles Clippers
X_train_LosAngelesClippers = X_LosAngelesClippers[:16]
X_test_LosAngelesClippers = X_LosAngelesClippers[16:22]
y_train_LosAngelesClippers = y_LosAngelesClippers[:16]
y_test_LosAngelesClippers = y_LosAngelesClippers[16:22]

#for Toronto
X_train_Toronto = X_Toronto[:16]
X_test_Toronto = X_Toronto[16:22]
y_train_Toronto = y_Toronto[:16]
y_test_Toronto = y_Toronto[16:22]

#for Boston
X_train_Boston = X_Boston[:16]
X_test_Boston = X_Boston[16:22]
y_train_Boston = y_Boston[:16]
y_test_Boston = y_Boston[16:22]

#for Philadelphia
X_train_Philadelphia = X_Philadelphia[:16]
X_test_Philadelphia = X_Philadelphia[16:22]
y_train_Philadelphia = y_Philadelphia[:16]
y_test_Philadelphia = y_Philadelphia[16:22]

#for Cleveland
X_train_Cleveland = X_Cleveland[:16]
X_test_Cleveland = X_Cleveland[16:22]
y_train_Cleveland = y_Cleveland[:16]
y_test_Cleveland = y_Cleveland[16:22]

#for Indiana
X_train_Indiana = X_Indiana[:16]
X_test_Indiana = X_Indiana[16:22]
y_train_Indiana = y_Indiana[:16]
y_test_Indiana = y_Indiana[16:22]

#for Los Angeles Lakers
X_train_LosAngelesLakers = X_LosAngelesLakers[:16]
X_test_LosAngelesLakers = X_LosAngelesLakers[16:22]
y_train_LosAngelesLakers = y_LosAngelesLakers[:16]
y_test_LosAngelesLakers = y_LosAngelesLakers[16:22]

#for Sacramento
X_train_Sacramento = X_Sacramento[:16]
X_test_Sacramento = X_Sacramento[16:22]
y_train_Sacramento = y_Sacramento[:16]
y_test_Sacramento = y_Sacramento[16:22]

#for Dallas
X_train_Dallas = X_Dallas[:16]
X_test_Dallas = X_Dallas[16:22]
y_train_Dallas = y_Dallas[:16]
y_test_Dallas = y_Dallas[16:22]

#for Memphis
X_train_Memphis = X_Memphis[:16]
X_test_Memphis = X_Memphis[16:22]
y_train_Memphis = y_Memphis[:16]
y_test_Memphis = y_Memphis[16:22]

#for Phoenix
X_train_Phoenix = X_Phoenix[:16]
X_test_Phoenix = X_Phoenix[16:22]
y_train_Phoenix = y_Phoenix[:16]
y_test_Phoenix = y_Phoenix[16:22]

#for Miami
X_train_Miami = X_Miami[:16]
X_test_Miami = X_Miami[16:22]
y_train_Miami = y_Miami[:16]
y_test_Miami = y_Miami[16:22]

#for Milwaukee
X_train_Milwaukee = X_Milwaukee[:16]
X_test_Milwaukee = X_Milwaukee[16:22]
y_train_Milwaukee = y_Milwaukee[:16]
y_test_Milwaukee = y_Milwaukee[16:22]

#for Washington
X_train_Washington = X_Washington[:16]
X_test_Washington = X_Washington[16:22]
y_train_Washington = y_Washington[:16]
y_test_Washington = y_Washington[16:22]

#for Detroit
X_train_Detroit = X_Detroit[:16]
X_test_Detroit = X_Detroit[16:22]
y_train_Detroit = y_Detroit[:16]
y_test_Detroit = y_Detroit[16:22]

#for Charlotte
X_train_Charlotte = X_Charlotte[:16]
X_test_Charlotte = X_Charlotte[16:22]
y_train_Charlotte = y_Charlotte[:16]
y_test_Charlotte = y_Charlotte[16:22]

#for New York
X_train_NewYork = X_NewYork[:16]
X_test_NewYork = X_NewYork[16:22]
y_train_NewYork = y_NewYork[:16]
y_test_NewYork = y_NewYork[16:22]

#for Brooklyn
X_train_Brooklyn = X_Brooklyn[:16]
X_test_Brooklyn = X_Brooklyn[16:22]
y_train_Brooklyn = y_Brooklyn[:16]
y_test_Brooklyn = y_Brooklyn[16:22]

#for Chicago
X_train_Chicago = X_Chicago[:16]
X_test_Chicago = X_Chicago[16:22]
y_train_Chicago = y_Chicago[:16]
y_test_Chicago = y_Chicago[16:22]

#for Orlando
X_train_Orlando = X_Orlando[:16]
X_test_Orlando = X_Orlando[16:22]
y_train_Orlando = y_Orlando[:16]
y_test_Orlando = y_Orlando[16:22]

#for Atlanta
X_train_Atlanta = X_Atlanta[:16]
X_test_Atlanta = X_Atlanta[16:22]
y_train_Atlanta = y_Atlanta[:16]
y_test_Atlanta = y_Atlanta[16:22]

In [10]:
from sklearn.linear_model import LinearRegression

#Houston, Golden State, Portland, Oklahoma City, Utah

#training data for Houston
regressorHouston = LinearRegression()
regressorHouston.fit(X_train_Houston, y_train_Houston)

#training data for Golden State
regressorGoldenState = LinearRegression()
regressorGoldenState.fit(X_train_GoldenState, y_train_GoldenState)

#training data for Portland
regressorPortland = LinearRegression()
regressorPortland.fit(X_train_Portland, y_train_Portland)

#training data for Oklahoma City
regressorOklahomaCity = LinearRegression()
regressorOklahomaCity.fit(X_train_OklahomaCity, y_train_OklahomaCity)

#training data for Utah
regressorUtah = LinearRegression()
regressorUtah.fit(X_train_Utah, y_train_Utah)

#New Orleans, San Antonio, Minnesota, Denver, Los Angeles Clippers

#training data for New Orleans
regressorNewOrleans = LinearRegression()
regressorNewOrleans.fit(X_train_NewOrleans, y_train_NewOrleans)

#training data for San Antonio
regressorSanAntonio = LinearRegression()
regressorSanAntonio.fit(X_train_SanAntonio, y_train_SanAntonio)

#training data for Minnesota
regressorMinnesota = LinearRegression()
regressorMinnesota.fit(X_train_Minnesota, y_train_Minnesota)

#training data for Denver
regressorDenver = LinearRegression()
regressorDenver.fit(X_train_Denver, y_train_Denver)

#training data for Los Angeles Clippers
regressorLosAngelesClippers = LinearRegression()
regressorLosAngelesClippers.fit(X_train_LosAngelesClippers, y_train_LosAngelesClippers)

#Toronto, Boston, Philadelphia, Cleveland, Indiana

#training data for Toronto
regressorToronto = LinearRegression()
regressorToronto.fit(X_train_Toronto, y_train_Toronto)

#training data for Boston
regressorBoston = LinearRegression()
regressorBoston.fit(X_train_Boston, y_train_Boston)

#training data for Philadelphia
regressorPhiladelphia = LinearRegression()
regressorPhiladelphia.fit(X_train_Philadelphia, y_train_Philadelphia)

#training data for Cleveland
regressorCleveland = LinearRegression()
regressorCleveland.fit(X_train_Cleveland, y_train_Cleveland)

#training data for Indiana
regressorIndiana = LinearRegression()
regressorIndiana.fit(X_train_Indiana, y_train_Indiana)

#Los Angeles Lakers, Sacramento, Dallas, Memphis, Phoenix

#training data for Los Angeles Lakers
regressorLosAngelesLakers = LinearRegression()
regressorLosAngelesLakers.fit(X_train_LosAngelesLakers, y_train_LosAngelesLakers)

#training data for Sacramento
regressorSacramento = LinearRegression()
regressorSacramento.fit(X_train_Sacramento, y_train_Sacramento)

#training data for Dallas
regressorDallas = LinearRegression()
regressorDallas.fit(X_train_Dallas, y_train_Dallas)

#training data for Memphis
regressorMemphis = LinearRegression()
regressorMemphis.fit(X_train_Memphis, y_train_Memphis)

#training data for Phoenix
regressorPhoenix = LinearRegression()
regressorPhoenix.fit(X_train_Phoenix, y_train_Phoenix)

#Miami, Milwaukee, Washington, Detroit, Charlotte

#training data for Miami
regressorMiami = LinearRegression()
regressorMiami.fit(X_train_Miami, y_train_Miami)

#training data for Milwaukee
regressorMilwaukee = LinearRegression()
regressorMilwaukee.fit(X_train_Milwaukee, y_train_Milwaukee)

#training data for Washington
regressorWashington = LinearRegression()
regressorWashington.fit(X_train_Washington, y_train_Washington)

#training data for Detroit
regressorDetroit = LinearRegression()
regressorDetroit.fit(X_train_Detroit, y_train_Detroit)

#training data for Charlotte
regressorCharlotte = LinearRegression()
regressorCharlotte.fit(X_train_Charlotte, y_train_Charlotte)

#New York, Brooklyn, Chicago, Orlando, Atlanta

#training data for New York
regressorNewYork = LinearRegression()
regressorNewYork.fit(X_train_NewYork, y_train_NewYork)

#training data for Brooklyn
regressorBrooklyn = LinearRegression()
regressorBrooklyn.fit(X_train_Brooklyn, y_train_Brooklyn)

#training data for Chicago
regressorChicago = LinearRegression()
regressorChicago.fit(X_train_Chicago, y_train_Chicago)

#training data for Orlando
regressorOrlando = LinearRegression()
regressorOrlando.fit(X_train_Orlando, y_train_Orlando)

#training data for Atlanta
regressorAtlanta = LinearRegression()
regressorAtlanta.fit(X_train_Atlanta, y_train_Atlanta)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [11]:
pd.DataFrame(list(zip(X_train_Houston.columns, regressorHouston.coef_)))
#stat with the highest factor in terms of magnitude is steals for Houston

                     0         1
0             FGs Made  0.230492
1        FGs Attempted -0.523426
2                 FG %  0.876687
3             3Ps Made  0.541585
4        3Ps Attempted  0.631999
5                3Ps %  0.206640
6             FTs Made  0.239083
7        FTs Attempted -0.023631
8                  FT% -0.111796
9   Offensive Rebounds  0.646124
10  Defensive Rebounds -0.400014
11      Total Rebounds  0.825965
12             Assists  0.504449
13              Steals  1.049457
14              Blocks  0.438418
15           Turnovers -0.845620
16      Personal Fouls -0.765471
17      Average Points  0.617925
18           Attendees  0.001497

In [12]:
pd.DataFrame(list(zip(X_train_GoldenState.columns, regressorGoldenState.coef_)))
#stat with the highest factor in terms of magnitude is steals for Golden State

                     0         1
0             FGs Made  0.926872
1        FGs Attempted  0.337861
2                 FG %  1.374446
3             3Ps Made  0.098203
4        3Ps Attempted  0.110846
5                3Ps %  0.130923
6             FTs Made  0.701042
7        FTs Attempted  0.687985
8                  FT% -0.197503
9   Offensive Rebounds  0.499891
10  Defensive Rebounds -0.023354
11      Total Rebounds  0.476537
12             Assists  0.437096
13              Steals  1.847503
14              Blocks  0.615730
15           Turnovers -0.846198
16      Personal Fouls -0.889573
17      Average Points  0.019331
18           Attendees  0.003178

In [13]:
pd.DataFrame(list(zip(X_train_Portland.columns, regressorPortland.coef_)))
#stat with the highest factor in terms of magnitude is turnovers for Portland

                     0         1
0             FGs Made  0.456214
1        FGs Attempted -0.521147
2                 FG %  0.716240
3             3Ps Made -0.142264
4        3Ps Attempted  0.065682
5                3Ps %  0.216673
6             FTs Made  0.767302
7        FTs Attempted -0.360356
8                  FT%  0.009464
9   Offensive Rebounds  0.750954
10  Defensive Rebounds -0.507747
11      Total Rebounds  0.243207
12             Assists  1.201733
13              Steals  1.037889
14              Blocks  1.067796
15           Turnovers -1.563836
16      Personal Fouls -0.263405
17      Average Points  0.411264
18           Attendees -0.000001

In [14]:
pd.DataFrame(list(zip(X_train_OklahomaCity.columns, regressorOklahomaCity.coef_)))
#stat with the highest factor in terms of magnitude is the field goals made for Oklahoma City

                     0         1
0             FGs Made  2.648628
1        FGs Attempted -0.482135
2                 FG % -1.001716
3             3Ps Made  1.194151
4        3Ps Attempted -0.710874
5                3Ps %  0.440233
6             FTs Made -0.075693
7        FTs Attempted  0.392547
8                  FT%  0.178033
9   Offensive Rebounds  0.393382
10  Defensive Rebounds -0.334247
11      Total Rebounds  0.059136
12             Assists  0.614931
13              Steals  0.656036
14              Blocks  0.613274
15           Turnovers -0.513093
16      Personal Fouls -0.150304
17      Average Points  0.226657
18           Attendees -0.000820

In [15]:
pd.DataFrame(list(zip(X_train_Utah.columns, regressorUtah.coef_)))
#stat with the highest factor in terms of magnitude is steals for Utah

                     0         1
0             FGs Made  0.426937
1        FGs Attempted -0.267059
2                 FG %  0.567110
3             3Ps Made -0.289486
4        3Ps Attempted  0.291803
5                3Ps %  0.198193
6             FTs Made  0.240411
7        FTs Attempted -0.227904
8                  FT% -0.017320
9   Offensive Rebounds  0.702239
10  Defensive Rebounds  0.060468
11      Total Rebounds -0.205259
12             Assists  0.701580
13              Steals  1.123526
14              Blocks  0.236887
15           Turnovers -0.381690
16      Personal Fouls -0.207545
17      Average Points  0.687698
18           Attendees -0.000320

In [16]:
pd.DataFrame(list(zip(X_train_NewOrleans.columns, regressorNewOrleans.coef_)))
#stat with the highest factor in terms of magnitude is field goals made for New Orleans

                     0         1
0             FGs Made  2.017669
1        FGs Attempted -0.212311
2                 FG %  1.505993
3             3Ps Made  1.618858
4        3Ps Attempted  0.082015
5                3Ps % -0.115371
6             FTs Made  0.266442
7        FTs Attempted  0.684147
8                  FT%  0.113341
9   Offensive Rebounds  0.480627
10  Defensive Rebounds -0.382979
11      Total Rebounds  0.097647
12             Assists  0.341238
13              Steals  2.005523
14              Blocks  1.384434
15           Turnovers -0.729266
16      Personal Fouls  0.127394
17      Average Points -0.449689
18           Attendees  0.001220

In [17]:
pd.DataFrame(list(zip(X_train_SanAntonio.columns, regressorSanAntonio.coef_)))
#stat with the highest factor in terms of magnitude is field goals made for San Antonio

                     0         1
0             FGs Made -3.641652
1        FGs Attempted -1.053647
2                 FG % -0.739725
3             3Ps Made -0.488776
4        3Ps Attempted -1.487802
5                3Ps % -0.052365
6             FTs Made -1.341335
7        FTs Attempted -1.932009
8                  FT% -0.594625
9   Offensive Rebounds  1.985901
10  Defensive Rebounds -1.279124
11      Total Rebounds  0.706777
12             Assists  0.085783
13              Steals  1.657139
14              Blocks  0.976829
15           Turnovers -1.778145
16      Personal Fouls  1.580758
17      Average Points  3.339841
18           Attendees  0.002079

In [18]:
pd.DataFrame(list(zip(X_train_Minnesota.columns, regressorMinnesota.coef_)))
#stat with the highest factor in terms of magnitude is assists for Minnesota

                     0         1
0             FGs Made  0.371633
1        FGs Attempted  0.003770
2                 FG %  0.407336
3             3Ps Made  0.049643
4        3Ps Attempted  0.353805
5                3Ps % -0.068600
6             FTs Made  0.224275
7        FTs Attempted  0.238467
8                  FT% -0.274324
9   Offensive Rebounds  0.203911
10  Defensive Rebounds -0.543248
11      Total Rebounds  0.198028
12             Assists  1.243312
13              Steals  0.517682
14              Blocks  0.966830
15           Turnovers -0.855482
16      Personal Fouls -0.421286
17      Average Points  0.402613
18           Attendees  0.000056

In [19]:
pd.DataFrame(list(zip(X_train_Denver.columns, regressorDenver.coef_)))
#stat with the highest factor in terms of magnitude is 3 pointers made for Denver

                     0         1
0             FGs Made  0.988594
1        FGs Attempted  0.038881
2                 FG %  0.507307
3             3Ps Made -1.777394
4        3Ps Attempted -0.144393
5                3Ps %  1.233981
6             FTs Made  0.222355
7        FTs Attempted  0.218122
8                  FT%  0.019538
9   Offensive Rebounds  0.920233
10  Defensive Rebounds -0.218941
11      Total Rebounds  0.701292
12             Assists  0.620572
13              Steals  0.286758
14              Blocks -0.038868
15           Turnovers -0.184705
16      Personal Fouls  0.351217
17      Average Points  0.086479
18           Attendees  0.001501

In [20]:
pd.DataFrame(list(zip(X_train_LosAngelesClippers.columns, regressorLosAngelesClippers.coef_)))
#stat with the highest factor in terms of magnitude is 3 pointers made for Los Angeles Clippers

                     0         1
0             FGs Made  0.928285
1        FGs Attempted -0.135881
2                 FG %  1.249783
3             3Ps Made  1.502594
4        3Ps Attempted -0.092025
5                3Ps % -0.080106
6             FTs Made -0.157655
7        FTs Attempted  0.768471
8                  FT%  0.178242
9   Offensive Rebounds  0.908750
10  Defensive Rebounds -0.453505
11      Total Rebounds  0.455245
12             Assists  0.732516
13              Steals  0.752264
14              Blocks  0.656103
15           Turnovers -0.909439
16      Personal Fouls -0.481631
17      Average Points -0.059303
18           Attendees  0.000194

In [21]:
pd.DataFrame(list(zip(X_train_Toronto.columns, regressorToronto.coef_)))
#stat with the highest factor in terms of magnitude is average points for Toronto

                     0         1
0             FGs Made  0.512254
1        FGs Attempted -0.188765
2                 FG %  0.265458
3             3Ps Made  0.320660
4        3Ps Attempted  0.177167
5                3Ps %  0.481603
6             FTs Made -0.088263
7        FTs Attempted  0.381291
8                  FT%  0.183095
9   Offensive Rebounds -0.129771
10  Defensive Rebounds  0.034989
11      Total Rebounds  0.106442
12             Assists  0.439345
13              Steals -0.144290
14              Blocks  0.308632
15           Turnovers -0.592508
16      Personal Fouls  0.018507
17      Average Points  0.638566
18           Attendees -0.002374

In [22]:
pd.DataFrame(list(zip(X_train_Boston.columns, regressorBoston.coef_)))
#stat with the highest factor in terms of magnitude is offensive rebounds for Boston

                     0         1
0             FGs Made  0.716351
1        FGs Attempted -0.515008
2                 FG %  0.737888
3             3Ps Made  0.117977
4        3Ps Attempted  0.481767
5                3Ps %  0.250806
6             FTs Made  0.217840
7        FTs Attempted -0.101361
8                  FT% -0.108927
9   Offensive Rebounds  1.097778
10  Defensive Rebounds -0.517694
11      Total Rebounds  0.376195
12             Assists -0.064304
13              Steals  0.757750
14              Blocks  0.220855
15           Turnovers -0.979697
16      Personal Fouls -0.790923
17      Average Points  0.628686
18           Attendees -0.000303

In [23]:
pd.DataFrame(list(zip(X_train_Philadelphia.columns, regressorPhiladelphia.coef_)))
#stat with the highest factor in terms of magnitude is steals for Philadelphia

                     0         1
0             FGs Made -0.230794
1        FGs Attempted  0.059196
2                 FG %  1.109176
3             3Ps Made -0.382512
4        3Ps Attempted -0.367389
5                3Ps %  0.090178
6             FTs Made  0.226688
7        FTs Attempted -0.500830
8                  FT% -0.091187
9   Offensive Rebounds  1.506542
10  Defensive Rebounds -0.856125
11      Total Rebounds  0.244949
12             Assists  0.399968
13              Steals  1.218902
14              Blocks  0.535204
15           Turnovers -0.356235
16      Personal Fouls -0.821398
17      Average Points  1.133840
18           Attendees -0.000725

In [24]:
pd.DataFrame(list(zip(X_train_Cleveland.columns, regressorCleveland.coef_)))
#stat with the highest factor in terms of magnitude is field goal percentage for Cleveland

                     0         1
0             FGs Made  0.983373
1        FGs Attempted  0.341528
2                 FG %  1.855440
3             3Ps Made -0.422268
4        3Ps Attempted  0.640146
5                3Ps %  0.489145
6             FTs Made  0.262949
7        FTs Attempted -0.106494
8                  FT%  0.572457
9   Offensive Rebounds  1.091098
10  Defensive Rebounds -0.419814
11      Total Rebounds  0.293912
12             Assists  0.759513
13              Steals -0.297379
14              Blocks  1.486648
15           Turnovers -0.827776
16      Personal Fouls -0.295881
17      Average Points -0.560296
18           Attendees -0.002225

In [25]:
pd.DataFrame(list(zip(X_train_Indiana.columns, regressorIndiana.coef_)))
#stat with the highest factor in terms of magnitude is assists for Indiana

                     0         1
0             FGs Made  0.370668
1        FGs Attempted -0.548556
2                 FG %  0.669844
3             3Ps Made -0.210462
4        3Ps Attempted  0.600562
5                3Ps %  0.045911
6             FTs Made -0.233914
7        FTs Attempted  0.148644
8                  FT%  0.267815
9   Offensive Rebounds  0.593933
10  Defensive Rebounds -0.655406
11      Total Rebounds  0.696362
12             Assists  0.841678
13              Steals  0.757894
14              Blocks  0.450992
15           Turnovers -0.693002
16      Personal Fouls -0.776420
17      Average Points  0.730991
18           Attendees  0.000357

In [26]:
pd.DataFrame(list(zip(X_train_LosAngelesLakers.columns, regressorLosAngelesLakers.coef_)))
#stat with the highest factor in terms of magnitude is steals for Los Angeles Lakers

                     0         1
0             FGs Made  0.821764
1        FGs Attempted  1.490020
2                 FG %  3.236720
3             3Ps Made -0.021557
4        3Ps Attempted  0.079634
5                3Ps %  0.482790
6             FTs Made  0.733699
7        FTs Attempted  0.710499
8                  FT% -0.327252
9   Offensive Rebounds -2.064745
10  Defensive Rebounds -1.230857
11      Total Rebounds  1.781078
12             Assists  0.018368
13              Steals  2.011005
14              Blocks -1.808896
15           Turnovers -0.450768
16      Personal Fouls -1.876775
17      Average Points -0.386993
18           Attendees -0.000427

In [27]:
pd.DataFrame(list(zip(X_train_Sacramento.columns, regressorSacramento.coef_)))
#stat with the highest factor in terms of magnitude is turnovers for Sacramento

                     0         1
0             FGs Made  0.391724
1        FGs Attempted -0.878039
2                 FG %  0.335168
3             3Ps Made -0.471023
4        3Ps Attempted  0.333329
5                3Ps %  0.204257
6             FTs Made -0.217014
7        FTs Attempted  0.238078
8                  FT%  0.124330
9   Offensive Rebounds  0.569590
10  Defensive Rebounds -0.277913
11      Total Rebounds  0.291678
12             Assists  0.347867
13              Steals  0.851830
14              Blocks  0.363234
15           Turnovers -0.905502
16      Personal Fouls -0.705380
17      Average Points  0.845097
18           Attendees -0.000157

In [28]:
pd.DataFrame(list(zip(X_train_Dallas.columns, regressorDallas.coef_)))
#stat with the highest factor in terms of magnitude is average points for Dallas

                     0         1
0             FGs Made -1.110765
1        FGs Attempted -1.519665
2                 FG % -1.342637
3             3Ps Made  1.036817
4        3Ps Attempted -0.619906
5                3Ps % -0.824459
6             FTs Made -1.288369
7        FTs Attempted -0.366296
8                  FT% -0.081771
9   Offensive Rebounds  1.833174
10  Defensive Rebounds  0.671526
11      Total Rebounds -0.574891
12             Assists  0.667244
13              Steals  0.272921
14              Blocks  0.277165
15           Turnovers -1.014391
16      Personal Fouls -0.347470
17      Average Points  2.411555
18           Attendees -0.001039

In [29]:
pd.DataFrame(list(zip(X_train_Memphis.columns, regressorMemphis.coef_)))
#stat with the highest factor in terms of magnitude is field goal percentage for Memphis

                     0         1
0             FGs Made  1.216029
1        FGs Attempted -0.107066
2                 FG %  1.299782
3             3Ps Made  0.133010
4        3Ps Attempted  0.402740
5                3Ps %  0.160229
6             FTs Made  0.731086
7        FTs Attempted  0.053551
8                  FT% -0.041907
9   Offensive Rebounds  0.422246
10  Defensive Rebounds -0.454200
11      Total Rebounds  0.348252
12             Assists  0.209610
13              Steals  0.737044
14              Blocks  0.715585
15           Turnovers -0.741470
16      Personal Fouls -0.602011
17      Average Points  0.016618
18           Attendees  0.000155

In [30]:
pd.DataFrame(list(zip(X_train_Phoenix.columns, regressorPhoenix.coef_)))
#stat with the highest factor in terms of magnitude is field goal percentage for Phoenix

                     0         1
0             FGs Made -1.622381
1        FGs Attempted  0.555532
2                 FG %  1.970996
3             3Ps Made -1.422640
4        3Ps Attempted  0.704676
5                3Ps %  0.786319
6             FTs Made -0.024736
7        FTs Attempted  0.125781
8                  FT%  0.005683
9   Offensive Rebounds  0.807215
10  Defensive Rebounds -0.061464
11      Total Rebounds  0.005175
12             Assists  0.330223
13              Steals  0.552745
14              Blocks  0.996068
15           Turnovers -0.528536
16      Personal Fouls -0.752552
17      Average Points  0.773993
18           Attendees -0.000460

In [31]:
pd.DataFrame(list(zip(X_train_Miami.columns, regressorMiami.coef_)))
#stat with the highest factor in terms of magnitude is average points for Miami

                     0         1
0             FGs Made  0.982988
1        FGs Attempted -1.324849
2                 FG % -0.887552
3             3Ps Made  0.276096
4        3Ps Attempted -0.114557
5                3Ps % -0.847698
6             FTs Made  0.300459
7        FTs Attempted -0.525511
8                  FT% -0.222726
9   Offensive Rebounds  0.082773
10  Defensive Rebounds -0.038852
11      Total Rebounds  0.043921
12             Assists -0.038336
13              Steals  0.243509
14              Blocks  1.299673
15           Turnovers -0.715346
16      Personal Fouls -1.673206
17      Average Points  1.849552
18           Attendees -0.001403

In [32]:
pd.DataFrame(list(zip(X_train_Milwaukee.columns, regressorMilwaukee.coef_)))
#stat with the highest factor in terms of magnitude is turnovers for Milwaukee

                     0         1
0             FGs Made  1.270442
1        FGs Attempted -0.428905
2                 FG %  0.525121
3             3Ps Made  0.287374
4        3Ps Attempted  0.035588
5                3Ps %  0.327094
6             FTs Made  0.157190
7        FTs Attempted -0.002321
8                  FT% -0.055302
9   Offensive Rebounds  1.018673
10  Defensive Rebounds  0.015713
11      Total Rebounds  0.002172
12             Assists  0.239347
13              Steals  0.262736
14              Blocks  0.519933
15           Turnovers -1.554513
16      Personal Fouls -0.275444
17      Average Points  0.405668
18           Attendees  0.000270

In [33]:
pd.DataFrame(list(zip(X_train_Washington.columns, regressorWashington.coef_)))
#stat with the highest factor in terms of magnitude is field goal percentage for Washington

                     0         1
0             FGs Made  0.328868
1        FGs Attempted -0.034671
2                 FG %  0.936728
3             3Ps Made  0.168815
4        3Ps Attempted  0.113103
5                3Ps % -0.030644
6             FTs Made -0.570738
7        FTs Attempted  0.802156
8                  FT%  0.300774
9   Offensive Rebounds  0.909594
10  Defensive Rebounds -0.159872
11      Total Rebounds  0.405766
12             Assists  0.484551
13              Steals  0.814378
14              Blocks  0.890211
15           Turnovers -0.924517
16      Personal Fouls -0.365873
17      Average Points  0.566380
18           Attendees -0.000509

In [34]:
pd.DataFrame(list(zip(X_train_Detroit.columns, regressorDetroit.coef_)))
#stat with the highest factor in terms of magnitude is blocks for Detroit

                     0         1
0             FGs Made -0.461210
1        FGs Attempted -0.349355
2                 FG %  1.514737
3             3Ps Made -0.529974
4        3Ps Attempted  1.119280
5                3Ps %  0.257676
6             FTs Made  0.415328
7        FTs Attempted -0.054604
8                  FT% -0.316583
9   Offensive Rebounds  0.467553
10  Defensive Rebounds -0.884565
11      Total Rebounds  0.944452
12             Assists  0.165401
13              Steals  1.180231
14              Blocks  1.693486
15           Turnovers -0.841983
16      Personal Fouls -1.468033
17      Average Points  0.604851
18           Attendees  0.001084

In [35]:
pd.DataFrame(list(zip(X_train_Charlotte.columns, regressorCharlotte.coef_)))
#stat with the highest factor in terms of magnitude is turnovers for Charlotte

                     0         1
0             FGs Made  0.975334
1        FGs Attempted -0.935787
2                 FG %  1.200544
3             3Ps Made  0.326230
4        3Ps Attempted -0.036603
5                3Ps %  0.063017
6             FTs Made  0.129403
7        FTs Attempted  0.333039
8                  FT%  0.052557
9   Offensive Rebounds  0.831541
10  Defensive Rebounds -0.047441
11      Total Rebounds  0.487448
12             Assists  0.933384
13              Steals  1.497605
14              Blocks  0.337825
15           Turnovers -1.238485
16      Personal Fouls -0.216841
17      Average Points  0.125045
18           Attendees -0.000630

In [36]:
pd.DataFrame(list(zip(X_train_NewYork.columns, regressorNewYork.coef_)))
#stat with the highest factor in terms of magnitude is field goals made for New York

                     0         1
0             FGs Made  1.557227
1        FGs Attempted  0.328299
2                 FG %  0.466837
3             3Ps Made -0.942542
4        3Ps Attempted  0.322051
5                3Ps %  1.016958
6             FTs Made -0.717465
7        FTs Attempted  0.950403
8                  FT%  0.432479
9   Offensive Rebounds  0.516819
10  Defensive Rebounds  0.464321
11      Total Rebounds -0.142603
12             Assists  1.398993
13              Steals  0.679234
14              Blocks -0.671716
15           Turnovers -0.551065
16      Personal Fouls -1.056967
17      Average Points -0.289311
18           Attendees  0.003246

In [37]:
pd.DataFrame(list(zip(X_train_Brooklyn.columns, regressorBrooklyn.coef_)))
#stat with the highest factor in terms of magnitude is average points for Brooklyn

                     0         1
0             FGs Made  0.306970
1        FGs Attempted -0.100021
2                 FG %  0.636065
3             3Ps Made -0.225670
4        3Ps Attempted  0.032877
5                3Ps % -0.065601
6             FTs Made -0.275249
7        FTs Attempted  0.223760
8                  FT% -0.007417
9   Offensive Rebounds  0.152882
10  Defensive Rebounds -0.316548
11      Total Rebounds  0.401066
12             Assists  0.653933
13              Steals  0.075775
14              Blocks  0.265784
15           Turnovers -0.818614
16      Personal Fouls -0.491934
17      Average Points  0.906443
18           Attendees -0.000385

In [38]:
pd.DataFrame(list(zip(X_train_Chicago.columns, regressorChicago.coef_)))
#stat with the highest factor in terms of magnitude is defensive rebounds for Chicago

                     0         1
0             FGs Made -0.400450
1        FGs Attempted -0.168103
2                 FG % -0.362315
3             3Ps Made -0.729380
4        3Ps Attempted -0.323169
5                3Ps %  0.220480
6             FTs Made -0.161699
7        FTs Attempted -0.406609
8                  FT% -0.006271
9   Offensive Rebounds -1.095973
10  Defensive Rebounds -2.231322
11      Total Rebounds  1.838354
12             Assists  1.127897
13              Steals  1.108587
14              Blocks -0.137459
15           Turnovers -0.485248
16      Personal Fouls -2.209817
17      Average Points  1.305825
18           Attendees -0.001071

In [39]:
pd.DataFrame(list(zip(X_train_Orlando.columns, regressorOrlando.coef_)))
#stat with the highest factor in terms of magnitude is steals for Orlando

                     0         1
0             FGs Made  0.589002
1        FGs Attempted -0.212466
2                 FG %  1.153748
3             3Ps Made  0.955506
4        3Ps Attempted -0.039691
5                3Ps %  0.192919
6             FTs Made -1.137619
7        FTs Attempted  1.183150
8                  FT%  0.467721
9   Offensive Rebounds  0.981902
10  Defensive Rebounds -0.749103
11      Total Rebounds  0.984795
12             Assists  0.480132
13              Steals  1.587448
14              Blocks  0.032479
15           Turnovers -1.288967
16      Personal Fouls -0.828093
17      Average Points  0.146881
18           Attendees -0.001239

In [40]:
pd.DataFrame(list(zip(X_train_Atlanta.columns, regressorAtlanta.coef_)))
#stat with the highest factor in terms of magnitude is field goal percentage for Atlanta

                     0         1
0             FGs Made -0.042917
1        FGs Attempted -0.051533
2                 FG %  1.615188
3             3Ps Made -0.450213
4        3Ps Attempted  0.271767
5                3Ps %  0.499156
6             FTs Made -0.178499
7        FTs Attempted  0.626986
8                  FT%  0.170623
9   Offensive Rebounds -0.085406
10  Defensive Rebounds -0.969131
11      Total Rebounds  0.912894
12             Assists  0.477273
13              Steals  0.782864
14              Blocks  0.436702
15           Turnovers -0.812212
16      Personal Fouls -0.289695
17      Average Points  0.253373
18           Attendees -0.000103

In [0]:
#making predictions for all teams

#making predictions for Houston
y_pred_Houston = regressorHouston.predict(X_test_Houston)

#making predictions for Golden State
y_pred_GoldenState = regressorGoldenState.predict(X_test_GoldenState)

#making predictions for Portland
y_pred_Portland = regressorPortland.predict(X_test_Portland)

#making predictions for Oklahoma City
y_pred_OklahomaCity = regressorOklahomaCity.predict(X_test_OklahomaCity)

#making predictions for Utah
y_pred_Utah = regressorUtah.predict(X_test_Utah)

#making predictions for New Orleans
y_pred_NewOrleans = regressorNewOrleans.predict(X_test_NewOrleans)

#making predictions for San Antonio
y_pred_SanAntonio = regressorSanAntonio.predict(X_test_SanAntonio)

#making predictions for Minnesota
y_pred_Minnesota = regressorMinnesota.predict(X_test_Minnesota)

#making predictions for Denver
y_pred_Denver = regressorDenver.predict(X_test_Denver)

#making predictions for Los Angeles Clippers
y_pred_LosAngelesClippers = regressorLosAngelesClippers.predict(X_test_LosAngelesClippers)

#making predictions for Toronto
y_pred_Toronto = regressorToronto.predict(X_test_Toronto)

#making predictions for Boston
y_pred_Boston = regressorBoston.predict(X_test_Boston)

#making predictions for Philadelphia
y_pred_Philadelphia = regressorPhiladelphia.predict(X_test_Philadelphia)

#making predictions for Cleveland
y_pred_Cleveland = regressorCleveland.predict(X_test_Cleveland)

#making predictions for Indiana
y_pred_Indiana = regressorIndiana.predict(X_test_Indiana)

#making predictions for Los Angeles Lakers
y_pred_LosAngelesLakers = regressorLosAngelesLakers.predict(X_test_LosAngelesLakers)

#making predictions for Sacramento
y_pred_Sacramento = regressorSacramento.predict(X_test_Sacramento)

#making predictions for Dallas
y_pred_Dallas = regressorDallas.predict(X_test_Dallas)

#making predictions for Memphis
y_pred_Memphis = regressorMemphis.predict(X_test_Memphis)

#making predictions for Phoenix
y_pred_Phoenix = regressorPhoenix.predict(X_test_Phoenix)

#making predictions for Miami
y_pred_Miami = regressorMiami.predict(X_test_Miami)

#making predictions for Milwaukee
y_pred_Milwaukee = regressorMilwaukee.predict(X_test_Milwaukee)

#making predictions for Washington
y_pred_Washington = regressorWashington.predict(X_test_Washington)

#making predictions for Detroit
y_pred_Detroit = regressorDetroit.predict(X_test_Detroit)

#making predictions for Charlotte
y_pred_Charlotte = regressorCharlotte.predict(X_test_Charlotte)

#making predictions for New York
y_pred_NewYork = regressorNewYork.predict(X_test_NewYork)

#making predictions for Brooklyn
y_pred_Brooklyn = regressorBrooklyn.predict(X_test_Brooklyn)

#making predictions for Chicago
y_pred_Chicago = regressorChicago.predict(X_test_Chicago)

#making predictions for Orlando
y_pred_Orlando = regressorOrlando.predict(X_test_Orlando)

#making predictions for Atlanta
y_pred_Atlanta = regressorAtlanta.predict(X_test_Atlanta)

In [42]:
#see data frame for actual vs predicted for Houston
actual_predicted_Houston = pd.DataFrame({'Actual Team Efficiency': y_test_Houston, 'Predicted Team Efficiency': y_pred_Houston})

actual_predicted_Houston

    Actual Team Efficiency  Predicted Team Efficiency
17               75.925581                  72.553538
18               60.616296                  66.418574
19               81.363233                  85.644692
20               57.861477                  60.529405
21               38.400676                  41.667894
22               85.606054                  78.468857

In [43]:
#see data frame for actual vs predicted for Golden State
actual_predicted_GoldenState = pd.DataFrame({'Actual Team Efficiency': y_test_GoldenState, 'Predicted Team Efficiency': y_pred_GoldenState})

actual_predicted_GoldenState

    Actual Team Efficiency  Predicted Team Efficiency
39               75.861569                  75.593696
40               54.995449                  48.623939
41               65.272836                  60.982463
42               76.546078                  71.642597
43               58.543780                  55.668990
44               70.313645                  71.287177

In [44]:
#see data frame for actual vs predicted for Portland
actual_predicted_Portland = pd.DataFrame({'Actual Team Efficiency': y_test_Portland, 'Predicted Team Efficiency': y_pred_Portland})

actual_predicted_Portland

    Actual Team Efficiency  Predicted Team Efficiency
61               71.465314                  73.359656
62               71.271163                  72.163604
63               69.570313                  71.100566
64               60.981550                  61.577324
65               49.991447                  47.908684
66               67.813463                  64.695118

In [45]:
#see data frame for actual vs predicted for Oklahoma City
actual_predicted_OklahomaCity = pd.DataFrame({'Actual Team Efficiency': y_test_OklahomaCity, 'Predicted Team Efficiency': y_pred_OklahomaCity})

actual_predicted_OklahomaCity

    Actual Team Efficiency  Predicted Team Efficiency
83               73.552503                  75.885294
84               80.285195                  83.608365
85               62.107394                  60.579355
86               68.249041                  70.256763
87               80.816507                  79.640202
88               59.223329                  60.209183

In [46]:
#see data frame for actual vs predicted for Utah
actual_predicted_Utah = pd.DataFrame({'Actual Team Efficiency': y_test_Utah, 'Predicted Team Efficiency': y_pred_Utah})

actual_predicted_Utah

     Actual Team Efficiency  Predicted Team Efficiency
105               76.423541                  73.997192
106               70.527167                  71.682509
107               68.850862                  67.417964
108               86.538683                  85.106450
109               69.164478                  69.371946
110               64.560841                  62.504189

In [47]:
#see data frame for actual vs predicted for New Orleans
actual_predicted_NewOrleans = pd.DataFrame({'Actual Team Efficiency': y_test_NewOrleans, 'Predicted Team Efficiency': y_pred_NewOrleans})

actual_predicted_NewOrleans

     Actual Team Efficiency  Predicted Team Efficiency
127               62.391802                  59.650573
128               77.801069                  73.817214
129               55.833073                  51.372705
130               81.651855                  86.119810
131               96.376958                 100.005921
132               66.687689                  64.220853

In [48]:
#see data frame for actual vs predicted for San Antonio
actual_predicted_SanAntonio = pd.DataFrame({'Actual Team Efficiency': y_test_SanAntonio, 'Predicted Team Efficiency': y_pred_SanAntonio})

actual_predicted_SanAntonio

     Actual Team Efficiency  Predicted Team Efficiency
149               78.803182                  86.775658
150               64.972930                  77.075030
151               68.234422                  79.860552
152               70.818079                  90.988993
153               63.008535                  53.296656
154               67.936619                  58.111779

In [49]:
#see data frame for actual vs predicted for Minnesota
actual_predicted_Minnesota = pd.DataFrame({'Actual Team Efficiency': y_test_Minnesota, 'Predicted Team Efficiency': y_pred_Minnesota})

actual_predicted_Minnesota

     Actual Team Efficiency  Predicted Team Efficiency
171               71.845414                  72.354552
172               77.454659                  73.564246
173               62.340905                  70.544431
174               49.837022                  54.120583
175               81.313396                  84.308002
176               55.078574                  56.713043

In [50]:
#see data frame for actual vs predicted for Denver
actual_predicted_Denver = pd.DataFrame({'Actual Team Efficiency': y_test_Denver, 'Predicted Team Efficiency': y_pred_Denver})

actual_predicted_Denver

     Actual Team Efficiency  Predicted Team Efficiency
193               67.505928                  65.723141
194               91.319472                  86.524302
195               72.925294                  76.762611
196               72.571732                  71.609845
197               71.976685                  73.154380
198               73.189616                  79.541475

In [51]:
#see data frame for actual vs predicted for Los Angeles Clippers 
actual_predicted_LosAngelesClippers = pd.DataFrame({'Actual Team Efficiency': y_test_LosAngelesClippers, 'Predicted Team Efficiency': y_pred_LosAngelesClippers})

actual_predicted_LosAngelesClippers

     Actual Team Efficiency  Predicted Team Efficiency
215               68.136117                  68.525638
216               78.401795                  79.010425
217               61.860845                  63.220332
218               62.997191                  63.945331
219               66.424785                  70.120094
220               74.060109                  71.547480

In [52]:
#see data frame for actual vs predicted for Toronto
actual_predicted_Toronto = pd.DataFrame({'Actual Team Efficiency': y_test_Toronto, 'Predicted Team Efficiency': y_pred_Toronto})

actual_predicted_Toronto

     Actual Team Efficiency  Predicted Team Efficiency
237               75.755440                  78.662328
238               75.016937                  79.248383
239               69.377778                  66.440237
240               58.851676                  51.620116
241               71.117068                  69.920373
242               63.143926                  60.099870

In [53]:
#see data frame for actual vs predicted for Boston
actual_predicted_Boston = pd.DataFrame({'Actual Team Efficiency': y_test_Boston, 'Predicted Team Efficiency': y_pred_Boston})

actual_predicted_Boston

     Actual Team Efficiency  Predicted Team Efficiency
259               56.151925                  57.013621
260               61.296250                  61.586914
261               63.691246                  62.021647
262               55.838988                  54.528565
263               71.036124                  69.108977
264               52.173868                  47.741114

In [54]:
#see data frame for actual vs predicted for Philadelphia
actual_predicted_Philadelphia = pd.DataFrame({'Actual Team Efficiency': y_test_Philadelphia, 'Predicted Team Efficiency': y_pred_Philadelphia})

actual_predicted_Philadelphia

     Actual Team Efficiency  Predicted Team Efficiency
281               81.809865                  81.608870
282               81.886455                  74.634243
283               79.857439                  77.427964
284               90.325129                  91.454335
285               89.857048                  90.758907
286               66.088668                  64.156045

In [55]:
#see data frame for actual vs predicted for Cleveland
actual_predicted_Cleveland= pd.DataFrame({'Actual Team Efficiency': y_test_Cleveland, 'Predicted Team Efficiency': y_pred_Cleveland})

actual_predicted_Cleveland

     Actual Team Efficiency  Predicted Team Efficiency
303               73.622348                  74.475392
304               86.046863                  84.194752
305               59.894662                  61.944922
306               68.493776                  61.821859
307               73.104494                  63.500389
308               80.369384                  85.350710

In [56]:
#see data frame for actual vs predicted for Indiana
actual_predicted_Indiana = pd.DataFrame({'Actual Team Efficiency': y_test_Indiana, 'Predicted Team Efficiency': y_pred_Indiana})

actual_predicted_Indiana

     Actual Team Efficiency  Predicted Team Efficiency
325               59.509534                  56.788262
326               68.077483                  70.392202
327               70.678391                  71.317339
328               81.494059                  81.194946
329               53.095756                  51.266279
330               60.695670                  57.991331

In [57]:
#see data frame for actual vs predicted for Los Angeles Lakers
actual_predicted_LosAngelesLakers = pd.DataFrame({'Actual Team Efficiency': y_test_LosAngelesLakers, 'Predicted Team Efficiency': y_pred_LosAngelesLakers})

actual_predicted_LosAngelesLakers

     Actual Team Efficiency  Predicted Team Efficiency
347               55.855183                  54.261609
348               63.071250                  66.045057
349               62.389644                  58.667180
350               61.503694                  62.716417
351               59.819237                  55.408585
352               54.533152                  52.488288

In [58]:
#see data frame for actual vs predicted for Sacramento
actual_predicted_Sacramento = pd.DataFrame({'Actual Team Efficiency': y_test_Sacramento, 'Predicted Team Efficiency': y_pred_Sacramento})

actual_predicted_Sacramento

     Actual Team Efficiency  Predicted Team Efficiency
369               67.577922                  64.686496
370               57.065408                  54.878923
371               54.223623                  53.810591
372               46.840511                  43.648511
373               50.448051                  50.293613
374               55.691811                  58.544187

In [59]:
#see data frame for actual vs predicted for Dallas
actual_predicted_Dallas = pd.DataFrame({'Actual Team Efficiency': y_test_Dallas, 'Predicted Team Efficiency': y_pred_Dallas})

actual_predicted_Dallas

     Actual Team Efficiency  Predicted Team Efficiency
391               71.037469                  66.605634
392               63.012936                  64.858681
393               54.346641                  54.295232
394               55.417882                  59.302806
395               59.941446                  61.107718
396               56.563008                  54.297708

In [60]:
#see data frame for actual vs predicted for Memphis
actual_predicted_Memphis = pd.DataFrame({'Actual Team Efficiency': y_test_Memphis, 'Predicted Team Efficiency': y_pred_Memphis})

actual_predicted_Memphis

     Actual Team Efficiency  Predicted Team Efficiency
413               68.636407                  67.429216
414               44.840451                  47.422412
415               63.415167                  62.039352
416               48.243750                  52.686954
417               77.551452                  77.161237
418               51.172148                  54.025269

In [61]:
#see data frame for actual vs predicted for Phoenix
actual_predicted_Phoenix = pd.DataFrame({'Actual Team Efficiency': y_test_Phoenix, 'Predicted Team Efficiency': y_pred_Phoenix})

actual_predicted_Phoenix

     Actual Team Efficiency  Predicted Team Efficiency
435               47.788909                  51.743557
436               48.112584                  51.466325
437               56.118908                  53.809855
438               58.765260                  60.114522
439               66.254909                  64.753721
440               65.824643                  63.236117

In [62]:
#see data frame for actual vs predicted for Miami
actual_predicted_Miami = pd.DataFrame({'Actual Team Efficiency': y_test_Miami, 'Predicted Team Efficiency': y_pred_Miami})

actual_predicted_Miami

     Actual Team Efficiency  Predicted Team Efficiency
457               60.950423                  52.245801
458               83.417573                  80.723515
459               64.718447                  65.451050
460               65.770225                  72.541279
461               58.276758                  57.118341
462               65.378612                  69.654387

In [63]:
#see data frame for actual vs predicted for Milwaukee
actual_predicted_Milwaukee = pd.DataFrame({'Actual Team Efficiency': y_test_Milwaukee, 'Predicted Team Efficiency': y_pred_Milwaukee})

actual_predicted_Milwaukee

     Actual Team Efficiency  Predicted Team Efficiency
479               84.686826                  81.351480
480               83.217689                  85.946950
481               80.555779                  77.907624
482               72.661610                  73.716604
483               64.228776                  63.463086
484               73.048602                  67.720325

In [64]:
#see data frame for actual vs predicted for Washington
actual_predicted_Washington = pd.DataFrame({'Actual Team Efficiency': y_test_Washington, 'Predicted Team Efficiency': y_pred_Washington})

actual_predicted_Washington

     Actual Team Efficiency  Predicted Team Efficiency
501               79.844670                  78.251154
502               59.459099                  55.918050
503               71.818112                  69.028264
504               64.546118                  60.427906
505               54.259110                  55.552406
506               58.844935                  58.476951

In [65]:
#see data frame for actual vs predicted for Detroit
actual_predicted_Detroit = pd.DataFrame({'Actual Team Efficiency': y_test_Detroit, 'Predicted Team Efficiency': y_pred_Detroit})

actual_predicted_Detroit

     Actual Team Efficiency  Predicted Team Efficiency
523               61.819402                  65.106027
524               78.212570                  93.739513
525               71.332734                  66.625466
526               66.141308                  67.454860
527               77.092169                  77.888160
528               51.813763                  57.347189

In [66]:
#see data frame for actual vs predicted for Charlotte
actual_predicted_Charlotte = pd.DataFrame({'Actual Team Efficiency': y_test_Charlotte, 'Predicted Team Efficiency': y_pred_Charlotte})

actual_predicted_Charlotte

     Actual Team Efficiency  Predicted Team Efficiency
545               71.112531                  68.235544
546               71.817436                  73.693481
547               71.396095                  72.056484
548               56.331984                  58.383762
549               87.116889                  85.655453
550               55.220435                  51.761197

In [67]:
#see data frame for actual vs predicted for New York
actual_predicted_NewYork = pd.DataFrame({'Actual Team Efficiency': y_test_NewYork, 'Predicted Team Efficiency': y_pred_NewYork})

actual_predicted_NewYork

     Actual Team Efficiency  Predicted Team Efficiency
567               69.640795                  69.464963
568               61.101694                  67.122314
569               63.366988                  62.469662
570               59.824460                  69.448845
571               71.389664                  81.010863
572               79.081007                  55.585912

In [68]:
#see data frame for actual vs predicted for Brooklyn
actual_predicted_Brooklyn = pd.DataFrame({'Actual Team Efficiency': y_test_Brooklyn, 'Predicted Team Efficiency': y_pred_Brooklyn})

actual_predicted_Brooklyn

     Actual Team Efficiency  Predicted Team Efficiency
589               71.996487                  70.121013
590               67.781180                  67.242053
591               73.346232                  70.439382
592               58.054346                  56.264116
593               79.536697                  74.511072
594               50.469020                  46.713464

In [69]:
#see data frame for actual vs predicted for Chicago
actual_predicted_Chicago = pd.DataFrame({'Actual Team Efficiency': y_test_Chicago, 'Predicted Team Efficiency': y_pred_Chicago})

actual_predicted_Chicago

     Actual Team Efficiency  Predicted Team Efficiency
611               62.723350                  60.568654
612               59.733778                  61.706588
613               42.276878                  40.377413
614               73.673400                  71.695066
615               47.645853                  59.880498
616               78.438015                  66.012711

In [70]:
#see data frame for actual vs predicted for Orlando
actual_predicted_Orlando = pd.DataFrame({'Actual Team Efficiency': y_test_Orlando, 'Predicted Team Efficiency': y_pred_Orlando})

actual_predicted_Orlando

     Actual Team Efficiency  Predicted Team Efficiency
633               46.965494                  50.582575
634               60.387661                  64.124788
635               50.232233                  60.919843
636               64.372399                  62.266031
637               52.138450                  48.378267
638               54.134443                  55.262668

In [71]:
#see data frame for actual vs predicted for Atlanta
actual_predicted_Atlanta = pd.DataFrame({'Actual Team Efficiency': y_test_Atlanta, 'Predicted Team Efficiency': y_pred_Atlanta})

actual_predicted_Atlanta

     Actual Team Efficiency  Predicted Team Efficiency
655               74.301639                  74.424147
656               48.200157                  46.629305
657               55.222492                  53.863173
658               48.915921                  46.673556
659               64.159753                  63.045233

In [0]:
from sklearn import metrics

In [73]:
#check if the model is good or not for Houston

print('Mean Absolute Error for Houston:', metrics.mean_absolute_error(y_test_Houston, y_pred_Houston))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for Houston:', metrics.r2_score(y_test_Houston, y_pred_Houston))

('Mean Absolute Error for Houston:', 4.421353947206202)
('Accuracy of Model for Houston:', 0.9160476335192815)

In [74]:
#check if the model is good or not for Golden State

print('Mean Absolute Error for Golden State:', metrics.mean_absolute_error(y_test_GoldenState, y_pred_GoldenState))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for Golden State:', metrics.r2_score(y_test_GoldenState, y_pred_GoldenState))

('Mean Absolute Error for Golden State:', 3.280259615137551)
('Accuracy of Model for Golden State:', 0.7687080827802361)

In [75]:
#check if the model is good or not for Portland

print('Mean Absolute Error for Portland:', metrics.mean_absolute_error(y_test_Portland, y_pred_Portland))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for Portland:', metrics.r2_score(y_test_Portland, y_pred_Portland))

('Mean Absolute Error for Portland:', 1.6856531724921002)
('Accuracy of Model for Portland:', 0.9397852845887766)

In [76]:
#check if the model is good or not for Oklahoma City

print('Mean Absolute Error for Oklahoma City:', metrics.mean_absolute_error(y_test_OklahomaCity, y_pred_OklahomaCity))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for Oklahoma City:', metrics.r2_score(y_test_OklahomaCity, y_pred_OklahomaCity))

('Mean Absolute Error for Oklahoma City:', 1.8923134552403151)
('Accuracy of Model for Oklahoma City:', 0.9391007641663781)

In [77]:
#check if the model is good or not for Utah

print('Mean Absolute Error for Utah:', metrics.mean_absolute_error(y_test_Utah, y_pred_Utah))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for Utah:', metrics.r2_score(y_test_Utah, y_pred_Utah))

('Mean Absolute Error for Utah:', 1.4518237219969354)
('Accuracy of Model for Utah:', 0.9486278919975442)

In [78]:
#check if the model is good or not for New Orleans

print('Mean Absolute Error for New Orleans:', metrics.mean_absolute_error(y_test_NewOrleans, y_pred_NewOrleans))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for New Orleans:', metrics.r2_score(y_test_NewOrleans, y_pred_NewOrleans))

('Mean Absolute Error for New Orleans:', 3.624867769840806)
('Accuracy of Model for New Orleans:', 0.9243291263508265)

In [79]:
#check if the model is good or not for San Antonio

print('Mean Absolute Error for San Antonio:', metrics.mean_absolute_error(y_test_SanAntonio, y_pred_SanAntonio))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for San Antonio:', metrics.r2_score(y_test_SanAntonio, y_pred_SanAntonio))

('Mean Absolute Error for San Antonio:', 11.901389651384042)
('Accuracy of Model for San Antonio:', -5.15346297724401)

In [80]:
#check if the model is good or not for Minnesota

print('Mean Absolute Error for Minnesota:', metrics.mean_absolute_error(y_test_Minnesota, y_pred_Minnesota))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for Minnesota:', metrics.r2_score(y_test_Minnesota, y_pred_Minnesota))

('Mean Absolute Error for Minnesota:', 3.5859522072775243)
('Accuracy of Model for Minnesota:', 0.8579426433586991)

In [81]:
#check if the model is good or not for Denver

print('Mean Absolute Error for Denver:', metrics.mean_absolute_error(y_test_Denver, y_pred_Denver))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for Denver:', metrics.r2_score(y_test_Denver, y_pred_Denver))

('Mean Absolute Error for Denver:', 3.1511187758626207)
('Accuracy of Model for Denver:', 0.7578539915865831)

In [82]:
#check if the model is good or not for Los Angeles Clippers

print('Mean Absolute Error for Los Angeles Clippers:', metrics.mean_absolute_error(y_test_LosAngelesClippers, y_pred_LosAngelesClippers))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for Los Angeles Clippers:', metrics.r2_score(y_test_LosAngelesClippers, y_pred_LosAngelesClippers))

('Mean Absolute Error for Los Angeles Clippers:', 1.58561949817134)
('Accuracy of Model for Los Angeles Clippers:', 0.8880796081056578)

In [83]:
#check if the model is good or not for Toronto

print('Mean Absolute Error for Toronto:', metrics.mean_absolute_error(y_test_Toronto, y_pred_Toronto))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for Toronto:', metrics.r2_score(y_test_Toronto, y_pred_Toronto))

('Mean Absolute Error for Toronto:', 3.591364368854039)
('Accuracy of Model for Toronto:', 0.5619244804650108)

In [84]:
#check if the model is good or not for Boston

print('Mean Absolute Error for Boston:', metrics.mean_absolute_error(y_test_Boston, y_pred_Boston))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for Boston:', metrics.r2_score(y_test_Boston, y_pred_Boston))

('Mean Absolute Error for Boston:', 1.7487138426231112)
('Accuracy of Model for Boston:', 0.8754913360784115)

In [85]:
#check if the model is good or not for Philadelphia

print('Mean Absolute Error for Philadelphia:', metrics.mean_absolute_error(y_test_Philadelphia, y_pred_Philadelphia))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for Philadelphia:', metrics.r2_score(y_test_Philadelphia, y_pred_Philadelphia))

('Mean Absolute Error for Philadelphia:', 2.3077283867868084)
('Accuracy of Model for Philadelphia:', 0.8341482719938369)

In [86]:
#check if the model is good or not for Cleveland

print('Mean Absolute Error for Cleveland:', metrics.mean_absolute_error(y_test_Cleveland, y_pred_Cleveland))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for Cleveland:', metrics.r2_score(y_test_Cleveland, y_pred_Cleveland))

('Mean Absolute Error for Cleveland:', 4.335460508711791)
('Accuracy of Model for Cleveland:', 0.5904390156336987)

In [87]:
#check if the model is good or not for Indiana

print('Mean Absolute Error for Indiana:', metrics.mean_absolute_error(y_test_Indiana, y_pred_Indiana))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for Indiana:', metrics.r2_score(y_test_Indiana, y_pred_Indiana))

('Mean Absolute Error for Indiana:', 1.751311205057803)
('Accuracy of Model for Indiana:', 0.952352641332272)

In [88]:
#check if the model is good or not for Los Angeles Lakers

print('Mean Absolute Error for Los Angeles Lakers:', metrics.mean_absolute_error(y_test_LosAngelesLakers, y_pred_LosAngelesLakers))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for Los Angeles Lakers:', metrics.r2_score(y_test_LosAngelesLakers, y_pred_LosAngelesLakers))

('Mean Absolute Error for Los Angeles Lakers:', 2.6596806683872045)
('Accuracy of Model for Los Angeles Lakers:', 0.20301023728050327)

In [89]:
#check if the model is good or not for Sacramento

print('Mean Absolute Error for Sacramento:', metrics.mean_absolute_error(y_test_Sacramento, y_pred_Sacramento))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for Sacramento:', metrics.r2_score(y_test_Sacramento, y_pred_Sacramento))

('Mean Absolute Error for Sacramento:', 1.9482931338079805)
('Accuracy of Model for Sacramento:', 0.8735000112731611)

In [90]:
#check if the model is good or not for Dallas

print('Mean Absolute Error for Dallas:', metrics.mean_absolute_error(y_test_Dallas, y_pred_Dallas))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for Dallas:', metrics.r2_score(y_test_Dallas, y_pred_Dallas))

('Mean Absolute Error for Dallas:', 2.2742471042764847)
('Accuracy of Model for Dallas:', 0.77187377012081)

In [91]:
#check if the model is good or not for Memphis

print('Mean Absolute Error for Memphis:', metrics.mean_absolute_error(y_test_Memphis, y_pred_Memphis))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for Memphis:', metrics.r2_score(y_test_Memphis, y_pred_Memphis))

('Mean Absolute Error for Memphis:', 2.141918044253076)
('Accuracy of Model for Memphis:', 0.9543733774741159)

In [92]:
#check if the model is good or not for Phoenix

print('Mean Absolute Error for Phoenix:', metrics.mean_absolute_error(y_test_Phoenix, y_pred_Phoenix))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for Phoneix:', metrics.r2_score(y_test_Phoenix, y_pred_Phoenix))

('Mean Absolute Error for Phoenix:', 2.509403124144621)
('Accuracy of Model for Phoneix:', 0.8701608347011323)

In [93]:
#check if the model is good or not for Miami

print('Mean Absolute Error for Miami:', metrics.mean_absolute_error(y_test_Miami, y_pred_Miami))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for Miami:', metrics.r2_score(y_test_Miami, y_pred_Miami))

('Mean Absolute Error for Miami:', 4.056088043245899)
('Accuracy of Model for Miami:', 0.6174119728476466)

In [94]:
#check if the model is good or not for Milwaukee

print('Mean Absolute Error for Milwaukee:', metrics.mean_absolute_error(y_test_Milwaukee, y_pred_Milwaukee))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for Milwaukee:', metrics.r2_score(y_test_Milwaukee, y_pred_Milwaukee))

('Mean Absolute Error for Milwaukee:', 2.6436206860636773)
('Accuracy of Model for Milwaukee:', 0.8179149539353563)

In [95]:
#check if the model is good or not for Washington

print('Mean Absolute Error for Washington:', metrics.mean_absolute_error(y_test_Washington, y_pred_Washington))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for Washington:', metrics.r2_score(y_test_Washington, y_pred_Washington))

('Mean Absolute Error for Washington:', 2.2839843369932553)
('Accuracy of Model for Washington:', 0.9076462102775621)

In [96]:
#check if the model is good or not for Charlotte

print('Mean Absolute Error for Charlotte:', metrics.mean_absolute_error(y_test_Charlotte, y_pred_Charlotte))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for Charlotte:', metrics.r2_score(y_test_Charlotte, y_pred_Charlotte))

('Mean Absolute Error for Charlotte:', 2.0643120405281308)
('Accuracy of Model for Charlotte:', 0.9561487317635156)

In [97]:
#check if the model is good or not for New York

print('Mean Absolute Error for New York:', metrics.mean_absolute_error(y_test_NewYork, y_pred_NewYork))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for New York:', metrics.r2_score(y_test_NewYork, y_pred_NewYork))

('Mean Absolute Error for New York:', 8.305742776702209)
('Accuracy of Model for New York:', -1.860285442038013)

In [98]:
#check if the model is good or not for Brooklyn

print('Mean Absolute Error for Brooklyn:', metrics.mean_absolute_error(y_test_Brooklyn, y_pred_Brooklyn))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for Brooklyn:', metrics.r2_score(y_test_Brooklyn, y_pred_Brooklyn))

('Mean Absolute Error for Brooklyn:', 2.648810286375967)
('Accuracy of Model for Brooklyn:', 0.9048536385365332)

In [99]:
#check if the model is good or not for Chicago

print('Mean Absolute Error for Chicago:', metrics.mean_absolute_error(y_test_Chicago, y_pred_Chicago))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for Chicago:', metrics.r2_score(y_test_Chicago, y_pred_Chicago))

('Mean Absolute Error for Chicago:', 5.4442089440729236)
('Accuracy of Model for Chicago:', 0.6791571364507644)

In [100]:
#check if the model is good or not for Orlando

print('Mean Absolute Error for Orlando:', metrics.mean_absolute_error(y_test_Orlando, y_pred_Orlando))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for Orlando:', metrics.r2_score(y_test_Orlando, y_pred_Orlando))

('Mean Absolute Error for Orlando:', 4.1727653423203614)
('Accuracy of Model for Orlando:', 0.24202200534671237)

In [101]:
#check if the model is good or not for Atlanta

print('Mean Absolute Error for Atlanta:', metrics.mean_absolute_error(y_test_Atlanta, y_pred_Atlanta))
#A mean absolute error between 1-10 is considered good

print('Accuracy of Model for Atlanta:', metrics.r2_score(y_test_Atlanta, y_pred_Atlanta))

('Mean Absolute Error for Atlanta:', 1.2819129294578944)
('Accuracy of Model for Atlanta:', 0.9783584298988655)